* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #050d30;
    color: wheat;
    height: 4rem;
    justify-content: center;
    line-height: 4rem;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

   

}

.choice:hover{

    cursor: pointer;
    background-color: rgb(8, 22, 78);
}

img{
    height: 175px;
    width: 175px;
    object-fit: cover;
    border-radius: 50%;

}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    font-size: 2rem;
    margin-top: 3rem;
}

#user-score, #comp-score{
    font-size: 4remS;

}

.msg-container{
    margin-top: 3rem;
}
#msg{
    background-color: rgba(2, 255, 53, 0.344);
    color: aliceblue;
    display: inline;
    padding: 1rem;
    border-radius: 20%;
}